<events>
	<event>
		<type>STOCK</type>
		<name>CocaCola</name>
		<date>2016.05.10</date>
		<value>144.45</value>
	</event>
	<event>
		<type>STOCK</type>
		<name>CocaCola</name>
		<date>2016.05.11</date>
		<value>146.45</value>
	</event>
	<event>
		<type>STOCK</type>
		<name>CocaCola</name>
		<date>2016.05.12</date>
		<value>142.45</value>
	</event>
	<event>
		<type>STOCK</type>
		<name>CocaCola</name>
		<date>2016.05.13</date>
		<value>148.45</value>
	</event>
	<event>
		<type>STOCK</type>
		<name>CocaCola</name>
		<date>2016.05.14</date>
		<value>154.45</value>
	</event>
	<event>
		<type>STOCK</type>
		<name>CocaCola</name>
		<date>2016.05.15</date>
		<value>164.45</value>
	</event>
	<event>
		<type>STOCK</type>
		<name>NukaCola</name>
		<date>2016.05.10</date>
		<value>44.45</value>
	</event>
	<event>
		<type>STOCK</type>
		<name>NukaCola</name>
		<date>2016.05.11</date>
		<value>46.45</value>
	</event>
	<event>
		<type>STOCK</type>
		<name>NukaCola</name>
		<date>2016.05.12</date>
		<value>42.45</value>
	</event>
	<event>
		<type>STOCK</type>
		<name>NukaCola</name>
		<date>2016.05.13</date>
		<value>48.45</value>
	</event>
	<event>
		<type>STOCK</type>
		<name>NukaCola</name>
		<date>2016.05.14</date>
		<value>54.45</value>
	</event>
	<event>
		<type>STOCK</type>
		<name>NukaCola</name>
		<date>2016.05.15</date>
		<value>84.45</value>
	</event>
	<event>
		<type>CURRENCY</type>
		<name>USD</name>
		<date>2016.05.10</date>
		<value>1.32</value>
	</event>
	<event>
		<type>CURRENCY</type>
		<name>USD</name>
		<date>2016.05.11</date>
		<value>1.43</value>
	</event>
	<event>
		<type>CURRENCY</type>
		<name>USD</name>
		<date>2016.05.12</date>
		<value>1.11</value>
	</event>
	<event>
		<type>CURRENCY</type>
		<name>USD</name>
		<date>2016.05.13</date>
		<value>1.33</value>
	</event>
	<event>
		<type>CURRENCY</type>
		<name>USD</name>
		<date>2016.05.14</date>
		<value>1.23</value>
	</event>
	<event>
		<type>CURRENCY</type>
		<name>USD</name>
		<date>2016.05.15</date>
		<value>1.55</value>
	</event>
	<event>
		<type>CURRENCY</type>
		<name>YUA</name>
		<date>2016.05.10</date>
		<value>132</value>
	</event>
	<event>
		<type>CURRENCY</type>
		<name>YUA</name>
		<date>2016.05.11</date>
		<value>143</value>
	</event>
	<event>
		<type>CURRENCY</type>
		<name>YUA</name>
		<date>2016.05.12</date>
		<value>111</value>
	</event>
	<event>
		<type>CURRENCY</type>
		<name>YUA</name>
		<date>2016.05.13</date>
		<value>133</value>
	</event>
	<event>
		<type>CURRENCY</type>
		<name>YUA</name>
		<date>2016.05.14</date>
		<value>123</value>
	</event>
	<event>
		<type>CURRENCY</type>
		<name>YUA</name>
		<date>2016.05.15</date>
		<value>155</value>
	</event>
	<event>
		<type>CURRENCY</type>
		<name>YEN</name>
		<date>2016.05.10</date>
		<value>13.2</value>
	</event>
	<event>
		<type>CURRENCY</type>
		<name>YEN</name>
		<date>2016.05.11</date>
		<value>14.3</value>
	</event>
	<event>
		<type>CURRENCY</type>
		<name>YEN</name>
		<date>2016.05.12</date>
		<value>11.1</value>
	</event>
	<event>
		<type>CURRENCY</type>
		<name>YEN</name>
		<date>2016.05.13</date>
		<value>13.3</value>
	</event>
	<event>
		<type>CURRENCY</type>
		<name>YEN</name>
		<date>2016.05.14</date>
		<value>12.3</value>
	</event>
	<event>
		<type>CURRENCY</type>
		<name>YEN</name>
		<date>2016.05.15</date>
		<value>15.5</value>
	</event>
</events>
